.newcontainer{
  width: 100%;
  /* height:15vh; */
  background: black;
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 27px;
  justify-content: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

.newcontainer h1{
  font-size: 80px;
  font-weight: 600px;
}
.new{
  width: 100%;
  /* height:27vh; */
  background: black;
  color: #dc6baf;
  display: flex;
  align-items: center;
  margin-top: 27px;
  justify-content: center;
}
.new h1{
  font-size: 80px;
  font-weight: 600px;
}
#heading1{
  font-family: 'Pacifico', cursive;
}
span{
  color: yellow;
}
